<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vicinity.vicinity" >

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Google Play filtering -->
    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />

    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconimage"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".TabsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TabTheme"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".PostComment"
            android:label="Comment"
            android:parentActivityName=".TabsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="vicinity.ConnectionManager.ConnectAndDiscoverService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="vicinity.ConnectionManager.UDPpacketListner"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".NewPost"
            android:label="@string/title_activity_new_post"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
